*{
    direction: rtl;
}

#maindivc{
    margin-bottom: 50px;
    margin-top: 50px;
}

#cate{
    text-align: center;
    color: #2e75b6;
    padding-bottom: 13px;
}

.ccss{
    text-align: center;
    font-size: 35px;
}
