.cust #cust1 .cust2 img{
    border: solid;
    height: 17%;
    width: 17%;
}

.cust #cust5 .cust2 img{
    border: solid;
    height: 17%;
    width: 17%;
}

.cust2{
    height: 17%;
    width: 17%;
    text-align: center;

}

#firstc,#firstc1{
    margin-left: 25%;
}

