#maindivf{
    margin-bottom: 50px;
    background-color: #f5f5f5;
}

#features{
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
    color: #2e75b6;
}

.fcss{
    text-align: center;
    font-size: 35px;
}