#maindivf{
    margin-bottom: 50px;
}

#features{
    padding-top: 4px;
    padding-bottom: 13px;
    text-align: center;
    color: #2e75b6;
}

.fcss{
    text-align: center;
    font-size: 35px;
}

.col-md-4.col-xs-6 {

}

.thumbnail {
    display: block;
    padding: 50px;    
    padding-bottom: 0;    
    padding-top: 10px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    width: 100%;
}

.thumbnail img {
    height: 250px;
}

p .btn.btn-primary{
    width: 80%;
    font-size: 1.1em;
}

.caption p {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}



