#maindivh{
    margin-bottom: 50px;
    margin-top: 50px;
}

#hotproducts{
    text-align: center;
    color: #2e75b6;
    padding-bottom: 13px;
}

.products{
    text-align: center;
    color: gray;
    padding-bottom: 13px;
}