.cust #cust1 .cust2 img{
    height: 17%;
    width: 17%;
}

.cust #cust5 .cust2 img{
    height: 17%;
    width: 17%;
}

.cust2{
    height: 17%;
    width: 17%;
    text-align: center;
}

#firsth,#firsth1{
    margin-left: 25%;

}
h2{
    text-align: center;
}
#panelh{
    
    width: 90%;
   margin-left: 5%  ; 
   background-color: #f5f5f5; 
}