
#griddiv{
    margin-top: 2%;
}
.lg{
    height: 170px;
    border-bottom: solid 2px gray;
    border-top: solid 2px gray;
    border-left: none;
}
#bordermab{
    border:solid grey 3px;
    border-radius: 5px;
    position: fixed;
    width: 26%;
    height: 60%;

}
.gridele{
    margin: 0%;
    padding: 0%;
}
.show-grid{
    margin: 0%; 
}
.col{
    margin: 0%;
}
.griddiv{
    margin: 0%;

}
.col-md-8{
    width:65%;
}
.lgcontainer{
    margin: 0%;
    padding: 0%;

}

.impic{
    height: 150px;
    width: 150px;
    min-width: 0;
}
.page{
    text-align: center;
    vertical-align: middle;
    margin-right: 30%;
}

#LinkProduct {
    color: #337ab7;
    text-decoration: none;
    font-size: 25px;
}

.adxExtraInfoPart{
    font-size: 18px;
    margin-left: 7%;
}
