#line{
  border-bottom: solid 1px gray; 
  margin-left: 35%;
  margin-right: 35%;
  }
  
  #divsearchcity{
    margin-bottom: 50px;
    text-align: center;
  }
  
  h2{
    padding: 13px;
    padding-bottom: 13px;
    color: #2e75b6;
  }
  
  .nav.nav-pills{
    font-size: 1.6em;
    padding-bottom: 0px;    
    padding-left: 41%;
    margin: auto;
    width: 100%;
  }

  .nav.nav-pills li a {
    color: gray;
    margin: auto 1em;
    font-weight: bold;
    border-radius: 0px;
    background-color: white;
    padding-bottom: 3px;
  }

  .nav.nav-pills li a:hover {
    border: 0;
    background-color: none;
    border-bottom: 3px solid #2e75b6;
    padding-bottom: 0px;
  }
  
