.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
    
    
  }
  .nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    text-align: center;
    border-bottom: 1px solid #888;

  }
   
  .nav NavItem {
    text-decoration: none;
    color: #fff;
    display: block;
    border-bottom:5px solid grey; 
    transition: .3s background-color;
  }
   
  .nav NavItem:hover {
    background-color: #005f5f;
  }
   
  .nav NavItem.active {
    background-color: #fff;
    color: #444;
    cursor: default;
  }
   
  @media screen and (min-width: 600px) {
    .nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    }
} 
    /* Option 1 - Display Inline */
    .nav li {
      display: inline-block;
      margin-right: -4px;
    }



.nav{
    float:none;
    margin:0 auto;
    margin-left: 37%;
}

#center1{
  margin-top: 2%;

}


